[Unit]
After=network.target nss-lookup.target
[Service]
User=root
WorkingDirectory=/usr/lib/euler-copilot-framework
Environment="PYTHONPATH=/usr/lib/euler-copilot-framework"
Environment="CONFIG=/etc/euler-copilot-framework/config.toml"
ExecStart=/usr/bin/python3 apps/main.py
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=10
LimitNOFILE=infinity
[Install]
WantedBy=multi-user.target