[Unit]
After=network.target nss-lookup.target
[Service]
User=root
WorkingDirectory=/opt
ExecStart=/usr/bin/java -Xms512M -Xmx512M -jar /opt/tika/tika-server-standard-3.2.0.jar
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=10
LimitNOFILE=infinity
[Install]
WantedBy=multi-user.target