*venv/
*venv-*/
**/__pycache__/
**/*.pyc

# build
**/build/
**/dist/
**/*.egg-info/
**/*.so
**/*.o
# 保留 scripts/build 目录
!scripts/build/
!scripts/build/**

.env

# ide
.idea

# Cython
*.c

# Compiled i18n files
**/*.mo
